@model UpdateProductVm

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Update Product</h4>

        <form class="forms-sample" method="post" enctype="multipart/form-data" asp-action="update">
            <div class="form-group">
                <img style="width:150px;heigth:150px" src="~/assets/images/website-images/@Model.ProductImages.FirstOrDefault(pi=>pi.IsPrimary==true)?.Url" />
            </div>
            <div class="form-group">
                <label asp-for="MainPhoto"></label>
                <input asp-for="MainPhoto" class="form-control">
                <span asp-validation-for="MainPhoto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <img style="width:150px;heigth:150px" src="~/assets/images/website-images/@Model.ProductImages.FirstOrDefault(pi=>pi.IsPrimary==false)?.Url" />
            </div>
            <div class="form-group">
                <label asp-for="HoverPhoto"></label>
                <input asp-for="HoverPhoto" class="form-control">
                <span asp-validation-for="HoverPhoto" class="text-danger"></span>
            </div>
                <div class="form-group d-flex">
                @foreach (var item in Model.ProductImages.Where(pi=>pi.IsPrimary==null))
                {
                    <div class="position-relative">
                        <img style="width:150px;heigth:150px" src="~/assets/images/website-images/@item.Url" />
                        <input asp-for="ImageIds" type="hidden" value="@item.Id" >
                        <button type="button" style="top:4px;left:4px" class="btn btn-danger position-absolute cust-remove">x</button>
                    </div>                   
                }
            </div>
            <div class="form-group">
                <label asp-for="AdditionalPhotos"></label>
                <input asp-for="AdditionalPhotos" class="form-control">
                <span asp-validation-for="AdditionalPhotos" class="text-danger"></span>
            </div>
  
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" placeholder="Name">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for=Price>Price</label>
                <input asp-for=Price class="form-control" placeholder="Price">
                <span asp-validation-for="Price" class="text-danger pt-1"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" for="CategoryId">Category</label>
                <select asp-for="CategoryId" class="form-control" id="CategoryId" 
                    asp-items="new SelectList(Model.Categories ,nameof(Category.Id),nameof(Category.Name))">
                </select>
                <span asp-validation-for="CategoryId" class="text-danger pt-1"></span>

            </div>
            <div class="form-group">
                <label asp-for="TagIds" for="CategoryId">Tags</label>
                <select asp-for="TagIds" class="form-control" id="TagIds" 
                    asp-items="new SelectList(Model.Tags ,nameof(Tag.Id),nameof(Tag.Name))">
                </select>
                <span asp-validation-for="CategoryId" class="text-danger pt-1"></span>
            </div>
            <div class="form-group">
                <label asp-for="ColorIds" for="ColorIds">Colors</label>
                <select asp-for="ColorIds" class="form-control" id="ColorIds" 
                    asp-items="new SelectList(Model.Colors ,nameof(Color.Id),nameof(Color.Name))">
                </select>
                <span asp-validation-for="CategoryId" class="text-danger pt-1"></span>

            </div>
            <div class="form-group">
                <label asp-for="SizeIds" for="SizeIds">Sizes</label>
                <select asp-for="SizeIds" class="form-control" id="SizeIds" 
                    asp-items="new SelectList(Model.Sizes ,nameof(Size.Id),nameof(Size.Name))">
                </select>
                <span asp-validation-for="CategoryId" class="text-danger pt-1"></span>
            </div>
            <div class="form-group">
                <label asp-for=Description>Description</label>
                <input asp-for=Description class="form-control" placeholder="Description">
                <span asp-validation-for="Description" class="text-danger pt-1"></span>
            </div>
            <div class="form-group">
                <label asp-for=Order>Order</label>
                <input asp-for=Order class="form-control" placeholder="Order">
                <span asp-validation-for="Order" class="text-danger pt-1"></span>
            </div>
            <div class="form-group">
                <label asp-for=SKU>SKU</label>
                <input asp-for=SKU class="form-control" placeholder="Ch-256xl">
                <span asp-validation-for="SKU" class="text-danger pt-1"></span>
            </div>

            <button type="submit" class="btn btn-primary me-2">Submit</button>
            <a asp-controller="product" asp-action="index" class="btn btn-light">Cancel</a>
        </form>
    </div>
</div>

@section deleteimg
{
    <script>
        var btns = document.querySelectorAll(".cust-remove")
        btns.forEach(b => {
            b.addEventListener("click", function () {
                b.parentElement.remove();
            })
        })
    </script>
}
