@model UpdateProductVm

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Update Product</h4>

        <form class="forms-sample" method="post" enctype="multipart/form-data" asp-action="update">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" placeholder="Name">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for=Price>Slide price</label>
                <input asp-for=Price class="form-control" placeholder="Price">
                <span asp-validation-for="Price" class="text-danger pt-1"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" for="CategoryId">Category</label>
                <select asp-for="CategoryId" class="form-control" id="CategoryId" asp-items="new SelectList(Model.Categories ,nameof(Category.Id),nameof(Category.Name))">
                    

                </select>
                <span asp-validation-for="CategoryId" class="text-danger pt-1"></span>

            </div>
            <div class="form-group">
                <label asp-for="TagIds" for="CategoryId">Tags</label>
                <select asp-for="TagIds" class="form-control" id="TagIds" asp-items="new SelectList(Model.Tags ,nameof(Tag.Id),nameof(Tag.Name))">
                    <option selected disabled>Choose tag</option>

                </select>
                <span asp-validation-for="CategoryId" class="text-danger pt-1"></span>

            </div>
            <div class="form-group">
                <label asp-for="ColorIds" for="ColorIds">Colors</label>
                <select asp-for="ColorIds" class="form-control" id="ColorIds" asp-items="new SelectList(Model.Colors ,nameof(Color.Id),nameof(Color.Name))">
                    <option selected disabled>Choose color</option>

                </select>
                <span asp-validation-for="CategoryId" class="text-danger pt-1"></span>

            </div>
            <div class="form-group">
                <label asp-for="SizeIds" for="SizeIds">Sizes</label>
                <select asp-for="SizeIds" class="form-control" id="SizeIds" asp-items="new SelectList(Model.Sizes ,nameof(Size.Id),nameof(Size.Name))">
                    <option selected disabled>Choose Size</option>

                </select>
                <span asp-validation-for="CategoryId" class="text-danger pt-1"></span>

            </div>
            <div class="form-group">
                <label asp-for=Description>Slide Description</label>
                <input asp-for=Description class="form-control" placeholder="Description">
                <span asp-validation-for="Description" class="text-danger pt-1"></span>
            </div>
            <div class="form-group">
                <label asp-for=Order>Slide Order</label>
                <input asp-for=Order class="form-control" placeholder="Order">
                <span asp-validation-for="Order" class="text-danger pt-1"></span>
            </div>
            <div class="form-group">
                <label asp-for=SKU>Slide SKU</label>
                <input asp-for=SKU class="form-control" placeholder="Ch-256xl">
                <span asp-validation-for="SKU" class="text-danger pt-1"></span>
            </div>

            <button type="submit" class="btn btn-primary me-2">Submit</button>
            <a asp-controller="product" asp-action="index" class="btn btn-light">Cancel</a>
        </form>
    </div>
</div>